@model IEnumerable<Trainer>

@{
    ViewData["Title"] = "Trainers Index";
}

<h1>Index</h1>
<h4>Trainers</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card" data-id="@item.Id">
            <img src="/images/Trainers/@item.Photo" alt="@item.FirstName @item.LastName" class="card-img">
            <aside class="card-aside">
                <h4>@item.FirstName @item.LastName</h4>
                <p>Email: @item.Email</p>
                <p>Speciality: @item.Speciality.Name</p>
                <p>More details <a asp-action="Details" asp-route-id="@item.Id">here</a>.</p>
            </aside>
        </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.card').hover(
                function () {
                    $(this).addClass('show');
                },
                function () {
                    $(this).removeClass('show');
                }
            );
        });
    </script>
}

